<div class="container">
    <div class="row">
        <div class="col-md-6">
        <div class="left-half-image">
            <img src="../assets//cleansar-image.jpg">
        </div>
        </div>
        <div class="col-md-6">
        <p class="middle-text">
            Zajmujemy się zawodowo sprzątaniem. Nasze usługi cechuje odpowiedzialne podejście do wykonywanych zadań. Używamy profesjonalnego sprzętu oraz korzystamy ze środków renomowanych firm chemicznych.
            Przyjmujemy stałe zlecenia serwisu utrzymania czystości domów, biur, hoteli, firm, hal produkcyjnych itp. Dbamy o to aby wszystkie powierzchnie były utrzymane w czystości. Zajmujemy się również usługami jednorazowego sprzątania np. po remoncie, imprezach okolicznościowych, przeprowadzkach, itp
        </p>
        </div>
    </div>
</div>