<div class="background-logo-layer"></div>
<div id="backgroundMask"></div>
<app-header></app-header>

<div class="app-section margin-halfpage">
  <app-gallery></app-gallery>
</div>


<div class="container mt-5">
  
  <div class="row">
      <div class="app-section margin-halfpage">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="left-half-image">
                  <img src="../assets//cleansar-image.png">
              </div>
            </div>
            <div class="col-md-6">
              <p class="middle-text">
                  Zajmujemy się zawodowo sprzątaniem. Nasze usługi cechuje odpowiedzialne podejście do wykonywanych zadań. Używamy profesjonalnego sprzętu oraz korzystamy ze środków renomowanych firm chemicznych.
                  Przyjmujemy stałe zlecenia serwisu utrzymania czystości domów, biur, hoteli, firm, hal produkcyjnych itp. Dbamy o to aby wszystkie powierzchnie były utrzymane w czystości. Zajmujemy się również usługami jednorazowego sprzątania np. po remoncie, imprezach okolicznościowych, przeprowadzkach, itp
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  
</div>

    
  <div class="app-section margin-halfpage">
    <p>USLUGI</p>
  </div>

    

    
  <div class="app-section margin-halfpage">
    <p>KONTAKT</p>
  </div>



