.background-logo-layer {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/cleansar-white.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.05;
    z-index: -999;
}

#backgroundMask {
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("../assets/mask_desktop.png");
    background-color: #cccccc;
    background-repeat: repeat;
    opacity: 0.5;
    z-index: -998;
  }

  .app-section {
      min-height: 100vh;
      // padding-top: 25vh;

      .left-half-image {
        text-align: right;
      }

      .middle-text {
        display: table-cell;
        vertical-align: middle;
        height: 40vh;
      }
  }