.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1999;
    background-color: #28282899;

    .navbar-brand {
        white-space: pre-wrap;

        span {
            white-space: nowrap;
        }
    }

    .navbar {
        img {
            height: 60px;
            margin-right: 10px;
        }


    }

    .nav-link {
        cursor: pointer;
    }
}

.accent {
    color: greenyellow !important;

    * {
        color: greenyellow !important;
    }
}

// .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
//     color: greenyellow;
// }
