
<div  class="container-fluid">
    <div class="row">
        <div class="mx-auto">
                <button mat-stroked-button color="accent" (click)="openDialog(0)">PRZEGLĄDAJ</button>
        </div>
        <div class="arrows-container">
                <div class="arrow-left-bg" (mouseenter)="onLeftHover(this)">
    
                        <div class="arrow-left">
                                <i class="material-icons">
                                    keyboard_arrow_left
                                </i>
                            </div>
                </div>
                <div class="arrow-right-bg" (mouseenter)="onRightHover(this)">

                        <div class="arrow-right">
                                <i class="material-icons">
                                    keyboard_arrow_right
                                </i>
                            </div>
                </div>
        </div>
        <div id="slider">
            <div class="flex-container">
                <img [src]="image" [style.z-index]="999 - i" (click)="openDialog(i)" *ngFor="let image of images; index as i">
              </div>
        </div>
    </div>
</div>