<div class="container"> 
        <div class="row">
            <h2>USŁUGI</h2>
        </div>
         <div class="row">
                <mat-list>
                        <mat-list-item> 
                                <div class="service-image"><img src="../../../assets/icons/window.png"></div><p>MYCIE OKIEN</p> 
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                        <mat-list-item class="end"> 
                            <p>MYCIE WODĄ DEMINERALIZOWANĄ WITRYN, ELEWACJI ALUMINIOWYCH, PANELI SŁONECZNYCH</p> <div class="service-image"><img src="../../../assets/icons/water.png"></div>
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                        <mat-list-item> 
                                <div class="service-image"><img src="../../../assets/icons/bucket.png"></div><p>MYCIE SZYLDÓW, BANERÓW REKLAMOWYCH</p> 
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                        <mat-list-item class="end"> 
                            <p>CZYSZCZENIE CIŚNIENIOWE KOSTKI BRUKOWEJ, TARASÓW, ELEWACJI</p> <div class="service-image"><img src="../../../assets/icons/housework.png"></div>
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                        <mat-list-item> 
                                <div class="service-image"><img src="../../../assets/icons/vacuum-cleaner.png"></div><p>CZYSZCZENIE MASZYNOWE PODŁÓG I POSADZEK</p> 
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                        <mat-list-item class="end"> 
                            <p>SPRZĄTANIE BIUR, HOTELI, PRODUKCJI, MAGAZYNÓW, HAL</p> <div class="service-image"><img src="../../../assets/icons/house.png"></div>
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                        <mat-list-item> 
                                <div class="service-image"><img src="../../../assets/icons/broom.png"></div><p>SPRZĄTANIE POREMONTOWE</p>
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                        <mat-list-item  class="end"> 
                            <p>KOSZENIE TRAW, KRZEWÓW, DRZEWEK, NIEUŻYTKÓW WRAZ Z WYWOZEM </p> <div class="service-image"><img src="../../../assets/icons/pot.png"></div>
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                        <mat-list-item class="space"> 
                                <div class="service-image"><img src="../../../assets/icons/clean.png"></div><p>INNE... </p> <button mat-stroked-button color="accent" (click)="openContact()">ZAPYTAJ O WYCENĘ</button>
                        </mat-list-item>
                    </mat-list>
         </div>
</div>
  